body {
margin: 0px;
background-image: url(../img/background.jpg);
font-size: 16px;
font-family: "Trebuchet MS",Arial,Tahoma,Verdana;
}

#top {
height: 94px;
background-color: transparent;
background-image: url(../img/bg_top.png);
background-repeat: repeat-x;
background-position: center top;
text-align: center;
}
#top img {
margin: 0;
padding: 2px;
}

#corpo {
left:50%;
margin:56px 1px 30px -385px;
position:absolute;
padding:0;
width:770px;
top: 0px;
}

#corpo #menu ul {
background-image: url(../img/menu.png);
width:720px;
list-style: none;
background-color: white;
height: 32px;
margin: 0;
padding: 0 25px;
}
#corpo #menu ul li {
float: left;
font-size: 16px;
/* color: #990000; */
color: #1d6188;
padding: 6px 16px;
font-weight: bold;
letter-spacing: 1px;
}
#corpo #menu ul li:hover {
color: #333;

}
#corpo #menu ul li .submenu {
display: none;
background-image: none;
background-color: white;
width: auto;
height: auto;
border: 1px solid #CFCFCF;
padding: 0;
margin-top: 5px;
}

#corpo #menu ul li .submenu li {
float: none;
}
#corpo #menu ul li .submenu li a {
/* color: #990000; */
color: #1d6188;
}

#corpo #menu ul li .submenu li:hover {
float: none;
background-color: #f0f0f0;
}

#corpo #menu ul li:hover .submenu {
display: block;
position: absolute;
z-index: 10;
}


#corpo #menu ul li a {
text-decoration: none;
/* color: #990000; */
color: #1d6188;
}
#corpo #menu ul li:hover a {
color: #333333;
}


#corpo .menu_bottom {
background-image: url(../img/menu_bottom.png);
width:770px;
display:block;
height: 17px;
margin: 0;
padding: 0;	
}
#corpo .site_bottom {
background-image: url(../img/bottom.png);
width:770px;
display:block;
height: 15px;
margin: 0;
padding: 0;	
}
#corpo #container {
background-image: url(../img/fundo_conteudo.png);
width:770px;
}
#corpo #conteudo {
background-image: url(../img/galerao.jpg);
background-repeat: no-repeat;
background-position: left bottom;
background-color: #fdfdfb;
width:733px;
margin-left: 3px;
margin-right: 4px;
min-height: 400px;
padding: 15px;
}
address {
color: white;
font-weight: bold;
}
#conteudo {
/* color: #990000; */
color: #1d6188;
}

#conteudo .esquerda {
width: 600px;
display: inline-block;
vertical-align: top;
color: #333333;
}
#conteudo .esquerda h1{
/* color: #990000; */
color: #1d6188;
}
#conteudo .esquerda #noticias {
display: block;
margin-top: 30px;
list-style: none;
list-style-image: url(../img/star.png);
font-weight: bold;
}
#conteudo .esquerda #noticias a{
text-decoration: none;
color: #333333;
}
#conteudo .esquerda #noticias a:hover{
text-decoration: underline;
}
#conteudo .destaque {
font-size: 11px;

}
#conteudo .destaque h1 {
/* color: #990000; */
color: #1d6188;
margin-top: 0px;
font-size: 22px;
}

#conteudo .destaque .foto {
display: inline-block;
width: 250px;
vertical-align: middle;
}
#conteudo .destaque .foto img {
border: 2px solid #ccc;
}
#conteudo .destaque .descricao {
display: inline-block;
width: 400px;
padding-left:15px;
vertical-align: middle;
}

#conteudo .direita {
width: 128px;
display: inline-block;
vertical-align: top;
}

.direita ul {
list-style: none;
list-style-image: url(../img/folder.gif);
padding-left: 30px;
}
.direita ul li{
vertical-align: top;
padding:1px 0;
}
.direita ul li:hover {
font-weight: bold;
}
.direita ul li:hover ul {
font-weight: normal;
}
.direita ul li ul {
list-style: none;
list-style-image: url(../img/page.gif);
padding-left: 20px;
}
.direita a {
text-decoration: none;
color: #333333;
}

#fotos {
display: inline-block;
width: 333px;
vertical-align: top;
}
#fotos img {
border: 0px;
margin: 0;
}
#video {
display: inline-block;
width: 295px;
vertical-align: top;
}
#fotos h1, #video h1 {
font-size: 22px;
}
#fotos .foto img {
border: 1px solid #ccc;
background-color: white;
padding: 3px;
}
h1 {
font-size: 22px;
}

#galeria .foto {
border: 1px solid #cccccc;
padding: 5px;
background-color: white;
}
#galeria h5 {
color: #333333;
}
#galerias a {
color: #333333;
text-decoration: none;
}
#galerias a:hover {
text-decoration: underline;
}
#conteudo .esquerda #videos {
text-align: center;
}
#conteudo .esquerda #videos h4 a {
color: #333333;
}
#conteudo .morador {
background-color: white;
padding: 10px;
width: 118px;
font-size: 11px;
border: 2px solid #bbb;
display: inline-block;
vertical-align: top;
margin: 5px 2px;
}
#conteudo .morador img{
width: 117px;
}

.recado {
color: #333333;
}

.recado strong {
/* color: #990000; */
color: #1d6188;
}

/* NOVO ESTILO */
#corpo #menu ul {
width:910px;
background-image:url("../img/menu_.png");
}

#corpo {
margin:56px 1px 30px -480px;
width:960px;
}
#corpo .menu_bottom {
background-image:url("../img/menu_bottom_.png");
width:960px;
}

#corpo #container {
width:958px;
}

#corpo #conteudo {
width:925px;
}

#corpo #menu ul {
width:910px;
}

#corpo .site_bottom {
background-image:url("../img/bottom_.png");
width:960px;
}

#conteudo .direita {
background-color:#FAFAFA;
border:2px solid #DDDDDD;
width:228px;
}

#conteudo .esquerda {
color:#333333;
display:inline-block;
vertical-align:top;
width:685px;
}